<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="sign_up_in.png" alt="image">
    <h1 class="display-3">Mile(s) ApArt</h1>
    <hr>
    <a class="btn btn1 btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn1 btn-light btn-lg" href="/login" role="button" >Login</a>

  </div>
</div>

<%- include('partials/footer') %>
